.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  height: 3.25rem;

  background: var(--blue-dark);
  color: var(--gray-100);

  border: 0;
  border-radius: 8px;
  gap: 0.5rem;

  line-height: 1.4;
  font-size: 0.875;
  font-weight: bold;

  box-shadow: none;

  transition: background-color 0.2s;
}

.button:not(:disabled):hover {
  background: var(--blue);
}
