.taskInfo {
    max-width: 46rem;
    width: 100%;

    margin: 0 auto;
}

.addTask {
    display: flex;
    flex: 1;

    justify-content: space-between;
    gap: 0.5rem;

    margin-top: -25px;
}

.taskList {
    margin-top: 2.3125rem;
}